* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_3 {
  width: 100%;
  height: 1080px;
  background: rgba(14,15,21,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_23 {
  width: 280px;
  height: 358px;
  background: url("../images/v1_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 592px;
  overflow: hidden;
}
.v1_49 {
  width: 262px;
  height: 263px;
  background: url("../images/v1_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 17px;
  overflow: hidden;
}
.v1_45 {
  width: 262px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_44 {
  width: 262px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_43 {
  width: 262px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_42 {
  width: 262px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_24 {
  width: 280px;
  height: 68px;
  background: rgba(22,24,33,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_25 {
  width: 280px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_20 {
  width: 280px;
  height: 360px;
  background: url("../images/v1_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 895px;
  overflow: hidden;
}
.v1_48 {
  width: 271px;
  height: 263px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 8px;
  overflow: hidden;
}
.v1_41 {
  width: 271px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_40 {
  width: 271px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_39 {
  width: 271px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_38 {
  width: 271px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_21 {
  width: 280px;
  height: 68px;
  background: rgba(22,24,33,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_22 {
  width: 280px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_17 {
  width: 280px;
  height: 360px;
  background: url("../images/v1_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 721px;
  overflow: hidden;
}
.v1_47 {
  width: 278px;
  height: 263px;
  background: url("../images/v1_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 1px;
  overflow: hidden;
}
.v1_37 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_36 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_35 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_34 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_18 {
  width: 280px;
  height: 67px;
  background: rgba(22,24,33,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_19 {
  width: 280px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_14 {
  width: 280px;
  height: 358px;
  background: url("../images/v1_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 408px;
  overflow: hidden;
}
.v1_46 {
  width: 278px;
  height: 263px;
  background: url("../images/v1_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 2px;
  overflow: hidden;
}
.v1_29 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_28 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_27 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_26 {
  width: 278px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_15 {
  width: 280px;
  height: 67px;
  background: rgba(22,24,33,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_16 {
  width: 280px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_11 {
  width: 100%;
  height: 90px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 408px;
  overflow: hidden;
}
.v1_9 {
  width: 100%;
  height: 86px;
  background: rgba(22,24,33,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_10 {
  width: 100%;
  color: rgba(222,219,235,0.5);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_12 {
  width: 100%;
  height: 150px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 408px;
  overflow: hidden;
}
.v1_2 {
  width: 149px;
  height: 150px;
  background: url("../images/v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v1_7 {
  width: 261px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 5px;
  left: 165px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v1_8 {
  width: 367px;
  color: rgba(222,219,235,1);
  position: absolute;
  top: 98px;
  left: 271px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
