* {
  background-color: #0e0f15;
  font-family: Poppins;
  color: #dedbeb;
  text-decoration: none;
}
.body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header {
  margin-top: 10px;
  margin: 0% auto;
  width: 1200px;
  display: flex;
}
.pic {
  background: url("../images/v1_2.png");
  background-size: cover;
}
.clock {
  justify-content: right;
  display: flex;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 64px;
}
.info {
  text-align: right;
  width: 100%;
}
.info_down {
  justify-content: right;
  display: flex;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  text-indent: 10px;
  height: 50px;
}
.url {
  font-size: 34px;
  text-align: center;
  border: 0px;
  background-color: #161821;
  height: 70px;
  width: 1200px;
  border-radius: 15px;
}
.url:focus,
.url:hover {
  outline: none;
  border: #81a0c6 1px solid;
}
.middle {
  margin-top: 60px;
  text-align: center;
}
.bookmarks {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}
.menu_place {
  width: 280px;
  height: 265px;
  justify-content: center;
  margin: 13.3px;
}
.list {
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 32px;
  margin-top: 20px;
}
.menu_name {
  text-align: center;
  background-color: #161821;
  font-size: 36px;
  height: 50px;
  border-radius: 15px;
}
.in_list {
  margin-top: 20px;
}
