:root {
  /* Colors */
  --darkbg: #11171D;
  --lightbg: #161D25;
  --fg: #DCDDED;
}
@font-face {
  font-family: "Iosevka";
  src: url(../fonts/Iosevka-regular.ttf);
}
* {
  font-family: Iosevka;
  color: #var(--fg);
  text-decoration: none;
}
.body {
  background-color: var(--darkbg);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header {
  color: var(--lightbg);
  background-image: url("../images/bg.jpg");
  background-size: cover;
  box-shadow: 0 0 12px 12px var(--lightbg);
  border-radius: 25px;
  height: 200px;
  margin: 0% auto;
  width: 1200px;
  display: flex;
}
.helo{
  color: var(--fg);
  filter: brightness(0.85);
  margin-left: 50px;
  font-family: Iosevka;
  font-size: 48px;
}
.clock {
  margin-top: 34px;
  margin-right: 50px;
  justify-content: right;
  display: flex;
  font-family: Iosevka;
  font-weight: Medium;
  font-size: 64px;
}
.info {
  text-align: right;
  width: 100%;
}
.info_down {
  margin-right: 50px;
  justify-content: right;
  display: flex;
  font-family: Iosevka;
  font-weight: Regular;
  font-size: 36px;
  text-indent: 10px;
  height: 50px;
}
.url {
  color: var(--fg);
  font-size: 2.5em;
  text-align: center;
  border: 0px;
  background-color: var(--lightbg);
  height: 70px;
  width: 1200px;
  border-radius: 15px;
}
.url:focus,
.url:hover {
  outline: none;
}
.middle {
  margin-top: 60px;
  text-align: center;
}
.bookmarks {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}
.menu_place {
  width: 280px;
  height: 265px;
  justify-content: center;
  margin: 13.3px;
}
.list {
  text-align: center;
  display: block;
  font-size: 32px;
  margin-top: 20px;
}
.menu_name {
  height: 50px;
  padding-top: 10px;
  color: var(--fg);
  text-align: center;
  background-color: var(--lightbg);
  font-size: 36px;
  border-radius: 15px;
}
.in_list {
  border-radius: 15px;
  height: 45px;
  vertical-align: middle;
}
.in_list:hover {
  background-color: var(--lightbg);
  border-radius: 15px;
  height: 45px;
}
.link_text {
  color: var(--fg);
  vertical-align: middle;
}