:root {
  /* Colors */
  --darkbg: #11171D;
  --lightbg: #161D25;
  --fg: #E2E8EE;
}
@font-face {
  font-family: "Iosevka";
  src: url(../fonts/Iosevka-regular.ttf);
}
* {
  font-family: Iosevka;
  text-decoration: none;
}
.body {
  background-color: var(--darkbg);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header {
  color: var(--darkbg);
  height: 100px;
  margin: 0% auto;
  width: 1320px;
  display: flex;
  background-image: linear-gradient(to right, #D7C1ED, #96CDFB, #B5E8E0, #F28FAD);
  border-radius: 8px;
}
.helo{
  margin-left: 20px;
  margin-top: 14px;
  font-family: Iosevka;
  font-size: 28px;
}
.clock {
  justify-content: right;
  display: flex;
  font-family: Iosevka;
  font-weight: Medium;
  font-size: 48px;
  margin-top: 5px;
}
.info {
  width: 150px;
  margin-left: auto;
  margin-right: 20px;
  display: inline-flex;
  position: relative;
  justify-content: right;
}
.info_right{
  display: flex;
  font-family: Iosevka;
  font-size: 26px;
  text-indent: 4px;
  height: 40px;
  bottom: 0;
  position: absolute;
}
.url {
  color: var(--fg);
  font-size: 2.5em;
  text-align: center;
  border: 0px;
  background-color: var(--lightbg);
  height: 70px;
  width: 1200px;
  border-radius: 15px;
}
.url:focus,
.url:hover {
  outline: none;
}
.middle {
  margin-top: 60px;
  text-align: center;
}
.bookmarks {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}
.menu_place {
  width: 280px;
  height: 265px;
  justify-content: center;
  margin: 13.3px;
}
.list {
  text-align: center;
  display: block;
  font-size: 32px;
  margin-top: 20px;
}
.menu_name {
  height: 50px;
  padding-top: 10px;
  color: var(--fg);
  text-align: center;
  background-color: var(--lightbg);
  font-size: 36px;
  border-radius: 15px;
}
.in_list_general {
  color: var(--fg);
  border-radius: 8px;
  height: 40px;
  text-align: left;
  padding-left: 25px;
}
.in_list_one:hover {
  color: #11171D;
  background-color: #D7C1ED;
}
.in_list_two:hover {
  color: #11171D;
  background-color: #96CDFB;
}
.in_list_three:hover {
  color: #11171D;
  background-color: #B5E8E0;
}
.in_list_four:hover {
  color: #11171D;
  background-color: #F28FAD;
}
.link_text {
  color: var(--fg);
  vertical-align: middle;
  font-variant: small-caps;
}