:root {
  /* Colors */
  --darkbg: #11171D;
  --lightbg: #161D25;
  --fg: #E2E8EE;
}
@font-face {
  font-family: "Iosevka";
  src: url(../fonts/Iosevka-regular.ttf);
}
* {
  font-family: Iosevka;
  text-decoration: none;
}
.body {
  background-color: var(--darkbg);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header {
  color: var(--darkbg);
  height: fit-content;
  margin: 0% auto;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right, #D7C1ED, #96CDFB, #B5E8E0, #F28FAD);
  border-radius: 8px;
}
.helo{
  margin-left: 1.5%;
  font-size: 22px;
}
.header > h1 {
  flex: 80%;
}
.header > div {
  flex: 20%;
}
.info {
  margin-right: 1.5%;
}
.clock {
  display: flex;
  height: 50%;
  font-size: 32px;
  justify-content: right;
  align-items: center;
}
.clock > div {
  margin: 0 1px;
}
.temp {
  height: 50%;
  display: flex;
  font-size: 14px;
  text-indent: 3px;
  justify-content: right;
  align-items: center;
}
.bookmarks {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}
.menu_place {
  color: var(--fg);
  padding: 15px;
  width: 260px;
  height: 230px;
  justify-content: center;
  border-radius: 8px;
  margin: 0 10px;
}
.menu_place:first-child {
  margin-left: 0;
}

.menu_place:last-child {
  margin-right: 0;
}
.list {
  text-align: center;
  display: block;
  font-size: 26px;
  margin-top: 20px;
}
.menu_name {
  color: var(--darkbg);
  text-align: center;
  font-size: 28px;
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.in_list_general {
  color: var(--fg);
  border-radius: 8px;
  height: 40px;
  text-align: left;
  padding-left: 25px;
}
.in_list_one:hover {
  color: #11171D;
  background-color: #D7C1ED;
}
.in_list_two:hover {
  color: #11171D;
  background-color: #96CDFB;
}
.in_list_three:hover {
  color: #11171D;
  background-color: #B5E8E0;
}
.in_list_four:hover {
  color: #11171D;
  background-color: #F28FAD;
}
.link_text {
  color: var(--fg);
  vertical-align: middle;
  font-variant: small-caps;
}
